#title > a {
  text-transform: capitalize;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 20px;
  gap: 16px;
  font-size: 0.9em;
  > .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background-color: #5594f4;
    width: 300px;
    border: 3px solid #0288d1;
    border-radius: 10px;
    padding: 5px 20px 20px;
    > div {
      > h2 {
        min-height: 56px;
      }
      > div {
        padding: 0 0 10px 0;
      }
    }
  }
}
.lang {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 1px white;
}
.crud-icon {
  position: relative;
  display: inline-block;
  padding: 0;
  box-sizing: border-box;
  height: 16px;
  width: 16px;
  margin: 0 5px;
  > * {
    display: inline-block;
  }
  svg {
    fill: white;
    height: 16px;
    width: 16px;
  }
}

.ico-followers {
  position: relative;
  top: 2px;
  margin-left: 10px;
}
#title-stars {
  margin-left: 30px;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: baseline;
  margin-bottom: 20px;
  input,
  select {
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
}
#summary {
  margin-left: 20px;
}
.noresults {
  margin: 20px 0;
  padding: 30px 30px !important;
}
.stars {
  font-size: 1rem;
  white-space: nowrap;
  > a {
    display: block;
  }
}
.pcard-title {
  display: flex;
  > span:nth-child(1) {
    flex-grow: 1;
  }
  > span:nth-child(2) {
    max-width: 100px;
  }
}
svg {
  fill: white;
}
